@use '../abstract/variables'as vars;
@use '../abstract/mixins'as mix;

.lights {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 150px;

    &__left {
        display: flex;
        flex-direction: column;
        gap: 60px;

        &-title {
            >img {
                margin-right: 30px;
            }

            font-family: vars.$b;
            font-size: 48px;
            line-height: 72px;
            color: vars.$white;
        }

        &-text {
            font-family: vars.$m;
            font-size: 16px;
            line-height: 24px;
            color: #{vars.$white}70;
            width: 540px;
        }

        &-links {
            display: flex;
            flex-wrap: wrap;
            gap: 30px 40px;
            width: 540px;
        }
    }

    &-links {
        width: 250px;

        display: flex;
        align-items: center;
        gap: 20px;


        &:hover .lights-links-icon {
            width: 260px;
        }

        >p {
            font-family: vars.$s;
            font-size: 18px;
            line-height: 27px;
            color: vars.$white;
            z-index: 2;
            margin-left: 50px;
        }

        &-icon {
            width: 30px;
            height: 30px;
            @include mix.border-min;
            background-color: vars.$pink;
            position: absolute;
            transition: width .4s cubic-bezier(0.39, 0.58, 0.57, 1);
        }
    }
}