@font-face {
    font-family: "Bold";
    src: url(../../font/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Medium";
    src: url(../../font/Poppins-Medium.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Regular";
    src: url(../../font/Poppins-Regular.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "SemiBold";
    src: url(../../font/Poppins-SemiBold.ttf);
    font-weight: 600;
}